--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
transformers
bitsandbytes
gguf
datasets
evaluate
seaborn
numpy
iterative-stratification
huggingface-hub
accelerate
pymorphy2
pymorphy2-dicts-ru
pyspellchecker
sentence_transformers
openai
loguru
razdel
pyvis
optimum
flash-attn
-e ./RAGU